# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [2]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')
baby_names

         Unnamed: 0       Id     Name  Year Gender State  Count
0             11349    11350     Emma  2004      F    AK     62
1             11350    11351  Madison  2004      F    AK     48
2             11351    11352   Hannah  2004      F    AK     46
3             11352    11353    Grace  2004      F    AK     44
4             11353    11354    Emily  2004      F    AK     41
...             ...      ...      ...   ...    ...   ...    ...
1016390     5647421  5647422     Seth  2014      M    WY      5
1016391     5647422  5647423  Spencer  2014      M    WY      5
1016392     5647423  5647424     Tyce  2014      M    WY      5
1016393     5647424  5647425   Victor  2014      M    WY      5
1016394     5647425  5647426   Waylon  2014      M    WY      5

[1016395 rows x 7 columns]

### Step 4. See the first 10 entries

In [3]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [4]:
baby_names.drop(['Unnamed: 0', 'Id'], axis=1, inplace=True)
baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

### Step 6. Is there more male or female names in the dataset?

In [8]:
baby_names.groupby(baby_names['Gender'])['Count'].sum().div(baby_names['Count'].sum())*100

Gender
F    46.243939
M    53.756061
Name: Count, dtype: float64

### Step 7. Group the dataset by name and assign to names

In [32]:
names = baby_names.groupby('Name')
names.head()

            Name Gender State  Count
0           Emma      F    AK     62
1        Madison      F    AK     48
2         Hannah      F    AK     46
3          Grace      F    AK     44
4          Emily      F    AK     41
...          ...    ...   ...    ...
1004923  Gryffin      M    WI      5
1004950     Kroy      M    WI      5
1004973     Owyn      M    WI      5
1005707   Haylea      F    WV      5
1012216  Coalton      M    WV      7

[65502 rows x 4 columns]

### Step 8. How many different names exist in the dataset?

In [14]:
names.ngroups

17632

### Step 9. What is the name with most occurrences?

In [16]:
names.Count.idxmax().head(1)

Name
Aaban    693699
Name: Count, dtype: int64

### Step 10. How many different names have the least occurrences?

In [17]:
names.Count.min()

Name
Aaban      6
Aadan      5
Aadarsh    5
Aaden      5
Aadhav     6
          ..
Zyra       5
Zyrah      5
Zyren      6
Zyria      5
Zyriah     5
Name: Count, Length: 17632, dtype: int64

### Step 11. What is the median name occurrence?

In [26]:
names.Count.median()

Name
Aaban       6.0
Aadan       5.5
Aadarsh     5.0
Aaden      10.0
Aadhav      6.0
           ...
Zyra        6.0
Zyrah       5.5
Zyren       6.0
Zyria       6.0
Zyriah      6.0
Name: Count, Length: 17632, dtype: float64

### Step 12. What is the standard deviation of names?

In [21]:
names.Count.std()

Name
Aaban       0.000000
Aadan       0.957427
Aadarsh          NaN
Aaden      21.154974
Aadhav           NaN
             ...
Zyra        1.154701
Zyrah       0.707107
Zyren            NaN
Zyria       0.737865
Zyriah      1.666667
Name: Count, Length: 17632, dtype: float64

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [28]:
names.describe()

KeyboardInterrupt: